<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoSuite">
	<test name="SampleTestNG">

		<groups>
			<run>
				<include name="AlertTest"/>
			</run>
		</groups>
		
		<classes>
			<class name="tests.AlertsTest" />
		</classes>
	</test> 
</suite> 
